recursive-include horizon/solvers *.so
recursive-include horizon/examples *.launch
recursive-include horizon/examples *.rviz
recursive-include horizon/examples *.urdf
recursive-include horizon/examples *.xml
recursive-include horizon/external_libs *
recursive-include horizon/cpp *
recursive-include horizon/tests *
include copy_external_dependencies.py
