<launch>
     <!-- send the cogimon robot XML to param server -->
     <param name="robot_description" textfile="../urdf/quadruped.urdf" />

    <!-- start robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
        <param name="publish_frequency" type="double" value="250.0" />
    </node>
    
    <!-- publish the mesh of the plane on rviz for visualization purposes -->
    <!-- node name="mesh_viz_plane" pkg="mesh_viz" type="mesh_viz_node" output="screen">
        <param name="mesh_path" value="../stl/simple_box.stl" />
        <param name="scale_x" type="double" value="0.1"/>
        <param name="scale_y" type="double" value="2.0"/>
        <param name="scale_z" type="double" value="3.0"/>
        <param name="frame_id" value="world_odom"/>
        <param name="name_id" value="plane"/>
        <param name="show_control_axis" type="bool" value="false"/>
        <rosparam param="position">[0., 0., -0.77]</rosparam>
        <rosparam param="orientation">[0., 0.7, 0., 0.7]</rosparam>
        <rosparam param="rgba">[0.5, 0.5, 0.5, 0.5]</rosparam>
    </node -->
    
    <!-- node type="rviz" name="rviz" pkg="rviz" args="-d quadruped.rviz" output="screen"/ -->


</launch>
